#Eclipse Project files
software/*.elf
software/*.map
software/*.objdump
software/*.o
software/*.d

#Eclipse BPS project files
software/_bps/obj/

# Quartus Files
db/
incremental_db/
output_files/
simulation/

*.awf
work/
*.wlf
*.zip